*{
    font-size: 20vh;
    line-height: 100%;
    text-align: center;
}

.rowparent{
    height: 100vh;
    padding: 0;
    margin: 0;
    align-items: center;

}

i{

    color: #b4d1d1;
}

.colorOn{
    color: teal;
}






